.title__btns {
    padding-top: 134px;
    padding-left: 630px;
    padding-right: 732px;
    display: flex;
    position: relative;
  }
  
  .title__btns > button {
    background: none;
    border: none;
    outline: none;
    color: #242372;
  }
  
  .exc-btn:focus{
    color: #9a6aff;
    border-bottom: 2px solid #9a6aff; 
  border-width: 50%;
  }
  
  .liq-btn:focus{
    color: #9a6aff;
    border-bottom: 2px solid #9a6aff; 
  }
  
  .exc-btn {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    margin-right: 12px;
    font-family: "Poppins";
  }
  
  .liq-btn {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    margin-top: -5px;
  }